*{padding:0;
margin:0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  display: block;
}

input{
  display: block;
}

.hidden{
  display: none;
}

.nav-header{
  /* padding: 10px; */
}

.nav-nav{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: antiquewhite;
  padding: 1% 0;
}

.nav-nav  ul{
  display:flex;
  justify-content: space-around;
  
}
.logo-container{
  width: 20%;
  display: flex;
  justify-content: center;
}

.nav-links{
  width: 80%;
}

.nav-nav  li {
  list-style: none;
  font-weight: 500;
}

.home-group-message{
  margin: 7%;
    border: 1px solid;
    border-radius:1%;
    padding: 4%;
  display:flex;
  justify-content: space-around;
}

.home-group-message-headers{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-group-message-img{
 width:100%;
}

.circle{
  border: 1px solid black;
  border-radius: 100px;
  height: 100px;
  width:100px;
}