*{padding:0;
margin:0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  display: block;
}

input{
  display: block;
}

.hidden{
  display: none;
}

.nav-header{
  /* padding: 10px; */
}

.nav-nav{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: antiquewhite;
  padding: 1% 0;
}

.nav-nav  ul{
  display:flex;
  justify-content: space-around;
  
}
.logo-container{
  width: 20%;
  display: flex;
  justify-content: center;
}

.nav-links{
  width: 80%;
  text-decoration: none;
}

.nav-nav  li {
  list-style: none;
  font-weight: 500;
}

.home-group-message{
  margin: 7%;
    border: 1px solid;
    border-radius:1%;
    padding: 4%;
  display:flex;
  justify-content: space-around;
}

.home-group-message-headers{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-group-message-img{
 width:100%;
}

.circle{
  border: 1px solid black;
  border-radius: 100px;
  height: 100px;
  width:100px;
}

.Login{
  display: flex;
  justify-content: space-around;
  background: url(./images/Login.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.login_content{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.login_content_h1{
  color: #ffffff;
  font-size: 80px;
  line-height: 1.1;
}

.login_content_p{
  color: #ffffff;
  font-size: 18px;
  font-weight:400;
  margin-top:20px;
}

.login_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}

.login_container{
  border: 0.2rem solid rgb(255, 255, 255);
  padding: 5rem 0 5rem 0;
  border-radius: 1rem;
}

.form_login{
  border: 2px solid white;
  border-radius: 3px;
  padding: 4rem 0;
}
.form_login input{
  border:none;
  outline:2px solid #ffffff;
  border-radius:5px;
  padding:20px;
  margin: 10px;
  width: 20rem;
}

.form_login button{
  padding:10px;
  margin: 10px;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder{
}

.form_login label{
  display: flex;
  align-items: center;
  justify-content: center;
  height:4rem;
  font-size: 2rem;
  font-weight:500;
}

.chatbox{
  align-items: center;
  flex-direction: column;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;

}